
# **Day8 Python Pandas**
**Pandas** stands for "Panel Data" and is the core library for data manipulation and data analysis.
It consists of single and multidimensional data-structures for data manipulation.
*Single dimensional* data structure is known as ***Series objects*** and *Multi-dimensional* data structure is known as ***Data Frame***.

In pandas, we can import data from various file formats like JSON, CSV(comma-separated values), Microsoft Excel, etc.

When we have to work on *Tabular data*, we prefer the ***Pandas module***. When we have to work on *Numerical data*, we prefer the ***Numpy module***.

The powerful tools of pandas are **DataFrame** and **Series**.
Whereas the powerful tool of numpy is **Arrays**.

## **Difference between NumPy & Pandas**
* When we have to work on Tabular data, we prefer the pandas module.When we have to work on Numerical data, we prefer the numpy module.

* The powerful tools of pandas are Data frame and Series.
Whereas the powerful tool of numpy is Arrays.

*  *Pandas* consume **more memory**. *Numpy* is **memory efficient**.

* *Indexing* of the pandas **series** is very ***slow*** as compared to numpy **arrays**.

* Pandas has a higher industry application as compare to Numpy.

### **Example_1_a_b_c_d**
How to make Series in **Pandas**.

Series object is a **one-dimensional labelled** or **indexed  array**.

In [6]:
# pip install pandas    # To install pandas

In [1]:
# Example1
import pandas as pd
first=pd.Series([10,90,70,50])
print(first)
'''
You can also write this like below:-
from pandas import *
first=Series([10,90,70,50])
print(first)
'''

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Example1_a
first=pd.Series([10,50,True,'Hi',9.3])
print(first)
print("*********")
print(first.index)
print("*********")
print(first.values)

0      10
1      50
2    True
3      Hi
4     9.3
dtype: object
*********
RangeIndex(start=0, stop=5, step=1)
*********
[10 50 True 'Hi' 9.3]

In [ ]:
# Example1_b
from pandas import *
mylist=[]
print("Enter values, 0 to exit: ")
while True:
  val=int(input())
  if(val==0):
    break
  mylist.append(val)
myseries=Series(mylist)
print(myseries)

Enter values, 0 to exit:
0    1
1    2
dtype: int64

In [ ]:
# Example1_c
mytuple=(200,500,400,600)
myseries=Series(mytuple)
print(myseries)

0    200
1    500
2    400
3    600
dtype: int64

In [9]:
# Example1_d
# if you don't want to print index
first=pd.Series([10,50,60,True,"BMW"])
print(first)
print("***********")
print(first.to_string(index=False))

0      10
1      50
2      60
3    True
4     BMW
dtype: object
***********
  10
  50
  60
True
 BMW

### **Example_2**
Series object is a one-dimensional labelled or indexed array

In [13]:
# Series object is a one-dimensional labelled or indexed array
from pandas import *
first=Series([10,50,99])
print(first)
print("\n")
print(type(first))

0    10
1    50
2    99
dtype: int64


<class 'pandas.core.series.Series'>

### **Example_3_a_b**
How we can change the Labels or indexes

In [14]:
# Example3
# we can change the labels or indexes
from pandas import *
first=Series([10,50,90,66],index=['a','b','c','d'])
print(first)

a    10
b    50
c    90
d    66
dtype: int64

In [1]:
# Example3a in this example it is throwing error ValueError: Length of values (5) does not match length of index (3)
from pandas import *
first=Series([50,60,70,60],index=['a','b','c']) 
print(first)

ModuleNotFoundError: No module named 'pandas'

In [17]:
# e3b
first=Series([50,60,90,76,45],index=['hello',4,6.2,True,9])
print(first)

hello    50
4        60
6.2      90
True     76
9        45
dtype: int64

### **Example_4**
How to create series object from **Dictionary**

In [3]:
mydict=({1:'Peter',2:'David',3:'Michal',4:'John'})
print(mydict)
print(type(mydict))

{1: 'Peter', 2: 'David', 3: 'Michal', 4: 'John'}
<class 'dict'>

In [20]:
myseries=Series(mydict)
print(myseries)

1     Peter
2     David
3    Michal
4      John
dtype: object

In [22]:
print(myseries.index)
print(myseries.values)

Index([1, 2, 3, 4], dtype='int64')
['Peter' 'David' 'Michal' 'John']

### **Example_5**
How to change index

In [7]:
myseries=Series([10,20,30,40])
print(myseries)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
myseries.index=['a','b','c','d']
print(myseries)

a    10
b    20
c    30
d    40
dtype: int64

In [12]:
print(myseries[0])
print(myseries['c'])    # this is also possible you can just put the value in it

10
30

C:\Users\Acer\AppData\Local\Temp\ipykernel_1932\1640603719.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(myseries[0])

In [13]:
myseries[2]=80
myseries['a']=69   # This is also possible you can change the value of the element
print(myseries)

a    69
b    20
c    80
d    40
dtype: int64

C:\Users\Acer\AppData\Local\Temp\ipykernel_1932\1304963202.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  myseries[2]=80

### **Example_6**
Extracting elements from the series

In [42]:
from pandas import *
myseries=Series([1,2,3,4,5,6,7,8,9])
print(myseries)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [43]:
print(myseries[5])

6

In [44]:
print(myseries[2:6])        # it will start from (2 indexed element **including**) till (6 indexed element **excluding**)

2    3
3    4
4    5
5    6
dtype: int64

In [47]:
print(myseries[-6:-2])      # it will start from the (-6 indexed element **including** from below) till (-2 indexed element **excluding** from below

3    4
4    5
5    6
6    7
dtype: int64

In [49]:
print(myseries[:5])        # it will start from (0 indexed element) till (5 **excluding**)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [50]:
print(myseries[3:])     # it will start from (3 indexed element) till **LAST**

3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

### **Example_7**
Adding a scalar value to series element and adding two series. **Series** is **immutable** but their **elements can be changed**

In [14]:
myseries=Series([1,2,3,4,5,6])
print(myseries)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [52]:
print(myseries+4)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [55]:
myseries1=Series([100,200,300,400,500,600,700])     # it will give NaN if you don't have value to add it to
print(myseries+myseries1)

0    101.0
1    202.0
2    303.0
3    404.0
4    505.0
5    606.0
6      NaN
dtype: float64

### **Example_8**
How to do Mathematical Operation

In [62]:
myseries=Series([100,200,300,400,500,600])
print(myseries)

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [63]:
print(myseries.sum())

2100

In [64]:
print(myseries.add(10))

0    110
1    210
2    310
3    410
4    510
5    610
dtype: int64

In [65]:
print(myseries.sub(10))

0     90
1    190
2    290
3    390
4    490
5    590
dtype: int64

In [68]:
print(myseries.div(10))
print(myseries.divide(10))      # Both are *SAME*

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float64
0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float64

In [69]:
print(myseries.mul(2))

0     200
1     400
2     600
3     800
4    1000
5    1200
dtype: int64

### **Example_9_a_b_c_d**
**DataFrame** is a ***Two Dimensional Labelled Data Structure***. DataFrame comprises of ***rows*** and ***columns***

Mainly Dictionary is used.

In [16]:
# Example9
mydict={'Name':['Peter','Rogers','Mike','Steve'],'Age':[20,40,22,23]}
print(mydict)

{'Name': ['Peter', 'Rogers', 'Mike', 'Steve'], 'Age': [20, 40, 22, 23]}

In [17]:
mydataframe=DataFrame(mydict)
print(mydataframe)
print(type(mydataframe))

     Name  Age
0   Peter   20
1  Rogers   40
2    Mike   22
3   Steve   23
<class 'pandas.core.frame.DataFrame'>

#### Extract DataFrame column as list

In [18]:
# Example9a
mydataframe=DataFrame({'Proid':range(1,5),'Proname':['soap','perfume','deo','powder']})
print(mydataframe)

   Proid  Proname
0      1     soap
1      2  perfume
2      3      deo
3      4   powder

In [19]:
mylist=mydataframe['Proid'].values.tolist()     # print 1D list of Proid
print(mylist)

[1, 2, 3, 4]

In [20]:
mylist=mydataframe['Proname'].values.tolist()
print(mylist)

['soap', 'perfume', 'deo', 'powder']

In [21]:
mylist1=mydataframe[['Proid','Proname']].values.tolist()    # print 2D list of Proname
print(mylist1)

[[1, 'soap'], [2, 'perfume'], [3, 'deo'], [4, 'powder']]

#### Extract DataFrame rows as list

In [22]:
# Example9b 

mydataframe=DataFrame({'proid':range(1,5),'proname':['soap','perfume','deo','powder']})
print(mydataframe)

   proid  proname
0      1     soap
1      2  perfume
2      3      deo
3      4   powder

In [23]:
mylist=mydataframe.loc[[0]].values.tolist()
print(mylist)

[[1, 'soap']]

In [25]:
mylist=mydataframe.loc[[0,1]].values.tolist()   # extract 0 and 1 rows
print(mylist)

[[1, 'soap'], [2, 'perfume']]

In [27]:
mylist=mydataframe.loc[[1,3]].values.tolist()   # extract row no. 1 and 3 
print(mylist)

[[2, 'perfume'], [4, 'powder']]

In [28]:
mylist=mydataframe.loc[1:3].values.tolist()   # extract from row no. 1 till 3 excluding
print(mylist)

[[2, 'perfume'], [3, 'deo'], [4, 'powder']]

In [88]:
mylist=mydataframe.values.tolist()          # extract all rows
print(mylist)

[[1, 'soap'], [2, 'perfume'], [3, 'deo'], [4, 'powder']]

In [89]:
mylist=mydataframe.iloc[:,0:1].values.tolist()  #  extract all rows of 0 to 1 columns, 1 is exclusive
print(mylist)

[[1], [2], [3], [4]]

In [90]:
mylist=mydataframe.iloc[1:3,0:1].values.tolist()    # extract 1 to 3 rows and 0 to 1 columns, 3 and 1 are exclusive
print(mylist)

[[2], [3]]

#### Extract DataFrame columns randomly

In [91]:
# Example9c
mydataframe=DataFrame({'proid':range(5,9),'proname':['soap','perfume','deo','powder'],'price':[120,500,290,160]})
print(mydataframe)

   proid  proname  price
0      5     soap    120
1      6  perfume    500
2      7      deo    290
3      8   powder    160

In [92]:
mylist=mydataframe.values.tolist()      # extract all rows
print(mylist)

[[5, 'soap', 120], [6, 'perfume', 500], [7, 'deo', 290], [8, 'powder', 160]]

In [93]:
mylist=mydataframe.iloc[:,[0,2]].values.tolist()     #  extract all rows of 0 and 2nd columns ( by skipping 1st column)
print(mylist)

[[5, 120], [6, 500], [7, 290], [8, 160]]

#### Extract DataFrame columns randomly

In [94]:
# Example9d
mydataframe=DataFrame({'proid':range(5,9),'proname':['soap','perfume','deo','powder'],'price':[120,500,290,160]})
print(mydataframe)

   proid  proname  price
0      5     soap    120
1      6  perfume    500
2      7      deo    290
3      8   powder    160

In [96]:
mylist=mydataframe.values.tolist()
print(mylist)

[[5, 'soap', 120], [6, 'perfume', 500], [7, 'deo', 290], [8, 'powder', 160]]

In [107]:
mylist=mydataframe.loc[0:1].values.tolist()
print(mylist)

[[5, 'soap', 120], [6, 'perfume', 500]]

In [102]:
mylist=mydataframe.iloc[[1,3],[0,2]]
print(mylist)

   proid  price
1      6    500
3      8    160

### **Example_10_a_b**
DataFrame built-in functions. Copy "Book1.csv" file inside pycharm project folder

In [2]:
from pandas import *

book=read_csv('Book1.csv')
print(book)

     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore

In [109]:
print("Type of book is\t",type(book))

Type of book is	 <class 'pandas.core.frame.DataFrame'>

In [111]:
print("Let's print first 5 records")    
print(book.head())              # by default it will print to 5 records

Let's print first 5 records
     name  age  address
0   Rohit   35   mumbai
1   Virat   36    delhi
2  Sachin   50   mumbai
3  Ashwin   38  chennai
4  Bumrah   29   mumbai

In [112]:
print("Let's print first 3 records")
print(book.head(3))             # it will print top 3 records

Let's print first 3 records
     name  age address
0   Rohit   35  mumbai
1   Virat   36   delhi
2  Sachin   50  mumbai

In [113]:
print("Print all the recoreds except last 3 records")
print(book.head(-3))        #  print all the records except last 3 records

Print all the recoreds except last 3 records
     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi

In [114]:
print("Let's print last 5 records")
print(book.tail())      # [-5:]

Let's print last 5 records
     name  age   address
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore

In [115]:
print("Let's print last 2 records")     # [-2:]
print(book.tail(2))

Let's print last 2 records
    name  age   address
8    Sky   29    mumbai
9  Umesh   30  banglore

In [116]:
print("Print all the records except first 3 records")
print(book.tail(-3))        # [-(-3):]

Print all the records except first 3 records
     name  age   address
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore

In [117]:
print("Total no. of rows and columns in the file")
print(book.shape)                   # 10 rows and 3 columns

Total no. of rows and columns in the file
(10, 3)

In [118]:
print(book.describe())          # it will give all the mathematical terms

             age
count  10.000000
mean   36.600000
std     6.979335
min    29.000000
25%    30.750000
50%    35.500000
75%    41.750000
max    50.000000

In [119]:
print("Let's extract first 3 records with 2 columns only")
print(book.iloc[:3,:2])

Let's extract first 3 records with 2 columns only
     name  age
0   Rohit   35
1   Virat   36
2  Sachin   50

In [4]:
print(book.loc[0:4,('name','address')])     #  Access a group of rows and columns by label(s) , 4 is inclusive here

     name  address
0   Rohit   mumbai
1   Virat    delhi
2  Sachin   mumbai
3  Ashwin  chennai
4  Bumrah   mumbai

In [6]:
print("Let's drop a particular column")
print(book.drop('age',axis=1))          # here axis=1  means we want to drop the column

Let's drop a particular column
     name   address
0   Rohit    mumbai
1   Virat     delhi
2  Sachin    mumbai
3  Ashwin   chennai
4  Bumrah    mumbai
5   Shami  banglore
6  Yuvraj     delhi
7   Dhoni     delhi
8     Sky    mumbai
9   Umesh  banglore

In [8]:
print("Let's drop some rows")
print(book.drop([3,4,5,6]))         # here axis=0  means we want to drop rows

Let's drop some rows
     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore

In [12]:
print("Let's drop name column and 1, 3, 7 rows")
print(book.drop(("name"),axis='columns').drop([1,3,7],axis='rows'))

Let's drop name column and 1, 3, 7 rows
   age   address
0   35    mumbai
2   50    mumbai
4   29    mumbai
5   33  banglore
6   43     delhi
8   29    mumbai
9   30  banglore

In [ ]:
cancel=['address','age']
book1=read_csv("Book1.csv").drop(cancel,axis='columns')
print(book1)

In [13]:
#Example_10_a Difference between traditional reading and pandas way of reading
from pandas import *

myfile=read_csv('Book1.csv')
print(myfile)

     name  age   address
0   Rohit   35    mumbai
1   Virat   36     delhi
2  Sachin   50    mumbai
3  Ashwin   38   chennai
4  Bumrah   29    mumbai
5   Shami   33  banglore
6  Yuvraj   43     delhi
7   Dhoni   43     delhi
8     Sky   29    mumbai
9   Umesh   30  banglore

In [1]:
print("Let's us read the file in a traditional way")
f=open('Book1.csv','r')
for content in f:
    print(content)
f.close()
print("Done")

Let's us read the file in a traditional way
name,age,address

Rohit,35,mumbai

Virat,36,delhi

Sachin,50,mumbai

Ashwin,38,chennai

Bumrah,29,mumbai

Shami,33,banglore

Yuvraj,43,delhi

Dhoni,43,delhi

Sky,29,mumbai

Umesh,30,banglore

Done

In [2]:
# Example10_b
from pandas import *

myfile=read_json('details.json')
print(myfile)

     Name  Age   Address
0  Sachin   40    Mumbai
1   Rahul   45  Banglore

In [3]:
print("Let's us read the file in traditional way")
f=open('details.json','r')
for content in f:
    print(content)
f.close()
print('Done')

Let's us read the file in traditional way
[

	{

		"Name": "Sachin",

		"Age":  40,

		"Address": "Mumbai"

	},

	{

		"Name": "Rahul",

		"Age": 45,

		"Address": "Banglore"

	}

]
Done

#### **Example_11**

In [4]:
from pandas import *

mydataframe=DataFrame({'points':[25,12,15,14,19,23,25,29],'assists':[5,7,7,9,12,9,9,4],'rebounds':[11,8,10,6,6,5,9,12],'blocks':[4,7,7,6,5,8,9,10]})
print(mydataframe)

   points  assists  rebounds  blocks
0      25        5        11       4
1      12        7         8       7
2      15        7        10       7
3      14        9         6       6
4      19       12         6       5
5      23        9         5       8
6      25        9         9       9
7      29        4        12      10

In [5]:
print("Select Columns by Index")
print(mydataframe.iloc[:,[1,3]])

Select Columns by Index
   assists  blocks
0        5       4
1        7       7
2        7       7
3        9       6
4       12       5
5        9       8
6        9       9
7        4      10

In [7]:
print("Select Columns in Index Range")
print(mydataframe.iloc[:,0:3])      # 3 is exclusive

Select Columns in Index Range
   points  assists  rebounds
0      25        5        11
1      12        7         8
2      15        7        10
3      14        9         6
4      19       12         6
5      23        9         5
6      25        9         9
7      29        4        12

In [8]:
print("Select columns by name")
print(mydataframe[['assists','blocks']])

Select columns by name
   assists  blocks
0        5       4
1        7       7
2        7       7
3        9       6
4       12       5
5        9       8
6        9       9
7        4      10

### **Example12**
More Pandas Function. Using **numeric_only=True** causes df.mean() to ignore columns that contain non-numbers, and only calculate the mean for columns that **only contain numbers**.

In [9]:
from pandas import *

iris=read_csv("iris.csv")
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [12]:
print(iris.mean(numeric_only=True))

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [13]:
print(iris.median(numeric_only=True))

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [14]:
print(iris.min(numeric_only=True))

sepal.length    4.3
sepal.width     2.0
petal.length    1.0
petal.width     0.1
dtype: float64

In [15]:
print(iris.max(numeric_only=True))

sepal.length    7.9
sepal.width     4.4
petal.length    6.9
petal.width     2.5
dtype: float64

### **Example_13_a**
How to read JSON file

In [16]:
from pandas import *
mydataframe=read_json("details.json")
print(mydataframe)

     Name  Age   Address
0  Sachin   40    Mumbai
1   Rahul   45  Banglore

#### In this we are working with excel Sheet

In [18]:
# pip install xlrd
import pandas as pd
mydataframe=pd.read_excel('ForPandas.xls')
print(mydataframe)

     Name   address
0   Rohit    Mumbai
1  Viraat     Delhi
2  Ashwin   Chennai
3   Dhoni  Zarkhand

In [19]:
print("Let's print Sheet2")
mydataframe=pd.read_excel('ForPandas.xls',sheet_name='Sheet2')
print(mydataframe)

Let's print Sheet2
   Proname  price
0     soap    120
1  perfume    400
2      deo    300
3  hairoil    150

### **Example_14**
In this we converted our dictionary of lists to csv & json format

In [22]:
import pandas as pd
proid=[1,2,3,4]
proname=['Soap','Perfume','Deo','Body_Wash']
price=[120,400,500,150]

mydictionary={'proid':proid,'proname':proname,'price':price}
mydataframe=pd.DataFrame(mydictionary)
print(mydictionary)

{'proid': [1, 2, 3, 4], 'proname': ['Soap', 'Perfume', 'Deo', 'Body_Wash'], 'price': [120, 400, 500, 150]}

In [23]:
mydataframe.to_csv('pord.csv')
mydataframe.to_json('produc.json')

### **Example15**
In this we have used openpyxl

In [9]:
# pip install openpyxl

import pandas as pd
proid=[1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]
mydictionary = {'proid':proid,'proname':proname,'price':price}
mydataframe =pd.DataFrame(mydictionary)
print(mydataframe)

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180

In [14]:
mydataframe.to_excel("prod.xlsx",sheet_name="prod_sheet",index=False)

### **Example_16**
The ExcelWriter object allows you to use multiple pandas. DataFrame objects can be exported to separate sheets.

In [15]:
import pandas as pd
proid=[1,2,3,4]
proname = ["Soap","Perfume","Deo","Body_Wash"]
price = [120,400,250,180]

mydictionary1={'proid':proid,'proname':proname,'price':price}
mydataframe1=pd.DataFrame(mydictionary1)

In [17]:
name=['Abc','Xyz','Pqr']
designation=['officer','manager','salesexecutive']
salary=[40000,60000,70000]

In [19]:
mydictionary2={'name':name,'designation':designation,'salary':salary}
mydataframe2=pd.DataFrame(mydictionary2)
print(mydataframe1)

   proid    proname  price
0      1       Soap    120
1      2    Perfume    400
2      3        Deo    250
3      4  Body_Wash    180

In [20]:
print(mydataframe2)

  name     designation  salary
0  Abc         officer   40000
1  Xyz         manager   60000
2  Pqr  salesexecutive   70000

In [22]:
mydataframe1.to_excel("prod2.xlsx",sheet_name="prod_sheet",index=False)
mydataframe2.to_excel("prod2.xlsx",sheet_name="employee_sheet",index=False)